.nav-link {
    color: white;
}

.navbar-collapse {
    justify-content: right;
}

.navbar-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}