* {
  box-sizing: border-box; }

body {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; }

a {
  text-decoration: none; }

p {
  line-height: 1.5; }

ul {
  list-style-type: none; }

main {
  padding: 15px; }

.container, .footer__content {
  max-width: 1400px;
  margin: 0 auto; }

.navbar__brand-title {
  font-weight: bold;
  color: #000000;
  font-size: 20px;
  text-decoration: none; }
  .navbar__brand-title:hover {
    color: #1435ee;
    font-size: 25px; }

.navbar__brand a {
  position: relative;
  text-decoration: none; }

.navbar-collapse {
  justify-content: right; }

.navbar-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around; }
  .navbar-nav a:hover {
    color: black;
    font-weight: bold; }
  .navbar-nav li:last-child {
    border: 1px solid #c8dd0d;
    border-radius: 10px;
    padding: 10px; }
    .navbar-nav li:last-child:active {
      transform: scale(0.9); }

.contact-box {
  box-sizing: border-box;
  display: block;
  margin: 100px 0 px;
  padding: 30px 22px 24px;
  background-color: #000000;
  font-weight: 700;
  color: white;
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 18px;
  box-sizing: border-box;
}

.navbar-link {
  color: white; }

.footer {
  background-color: #0d6efd;
  color: white;
  padding: 30px 10px; }
  .footer__content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    text-align: center; }
    .footer__content h4 {
      color: black;
      margin-bottom: 20px;
      font-weight: bold;
      font-size: 20px; }
    .footer__content-list li {
      margin: 10px 0; }
    .footer__content-list a {
      color: white;
      transition: all 0.3s; }
      .footer__content-list a:hover {
        color: blue;
        font-weight: bold; }
  .footer__rrss {
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px; }
    .footer__rrss .rs-github {
      color: white;
      font-size: 30px;
      transition: all 0.3s; }
      .footer__rrss .rs-github:hover {
        color: green; }
    .footer__rrss .rs-twitter {
      color: white;
      font-size: 30px;
      transition: all 0.3s; }
      .footer__rrss .rs-twitter:hover {
        color: #55acee; }
    .footer__rrss .rs-instagram {
      color: white;
      font-size: 30px;
      transition: all 0.3s; }
      .footer__rrss .rs-instagram:hover {
        color: #c92d8f; }
    .footer__rrss .rs-facebook {
      color: white;
      font-size: 30px;
      transition: all 0.3s; }
      .footer__rrss .rs-facebook:hover {
        color: #2279e4; }
  .footer__copy {
    margin-top: 10px;
    text-align: center;
    color: white; }
  .footer__text {
    margin-top: 10px;
    text-align: center;
    color: white; }

@media (max-width: 576px) {
  .footer__content {
    grid-template-columns: 1fr;
    text-align: center; } }

.card__effect {
  text-align: center;
  transition: border; }
  .card__effect:hover {
    border: 3px solid #333; }

.card__btn {
  display: inline-block;
  font-weight: bold;
  font-size: 15px; }
  .card__btn:hover {
    background-color: #aa9100; }
    .card__btn:hover::after {
      content: '';
      position: absolute; }

.card__title {
  font-size: 25px;
  font-weight: bold; }
