.nav-link {
    color: white;
}

.navbar-collapse {
    justify-content: right;
}

.navbar-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.effect {
    text-align: center;
}

.effect:hover {
    border: 2px solid #333;
}

.card-img-top {
    width: 100%;
}