* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}

p {
    line-height: 2;
}

ul {
    list-style-type: none;
}

/* body */
body {
    background-color: rgb(226, 222, 222);
    height: auto;
    font-family: 'Lato', sans-serif;
}

/* Contenedor General */

.cont_general{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.15fr 0.7fr 0.15fr;
    grid-template-areas: 'header'
    'main'
    'footer';
    max-height: 100vh;
}


/* header */
    header {
        position: sticky;
        top: 2;
        background-color: rgb(44, 63, 240);
        padding: 20px;
        z-index: 1;
        font-family: 'Lato', sans-serif;
        font-family: 'Mouse Memoirs', sans-serif;
        font-family: 'Roboto Mono', monospace;
        grid-area: header;
    }

    .header__content {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .header__content-title {
        color: rgb(44, 63, 240);
        background-color: yellow;
        font-size: 40px;
    }

    .header__content-navbar {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }

    .header__content-navbar a {
        margin: 0 20px;
        text-align: center;
        color: rgb(177, 177, 177);
        font-weight: bold;
    }

    section{
        grid-area: main;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(3, 1fr);
        grid-template-areas: 'artlu artru'
        'artld artrd'
        'artc artc';
        column-gap: 30px;
        row-gap: 30px;
        padding: 40px;
    }

    .historia{
        grid-area: artlu;
    }

    .palmares{
        grid-area: artru;
    }

    .estadio {
        grid-area: artld;
    }

    .jugadores{
        grid-area: artrd;
    }

    .socios{
        grid-area: artc;
    }

    .articles{
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: center;
        background-color:rgb(177, 177, 177) ;
        border-radius: 10px;
        box-shadow: 15px 15px 20px rgba(0, 0, 0, 0.131);
        padding: 20px;
        background-color: rgba(97, 147, 212, 0.192);
        animation: artcont 5s forwards;
        animation-iteration-count: infinite;
    }

    .articles_cont{
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: space-between;
        width: 100%;
        align-items: center;
    }

    .articles_img{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        border-radius: 5px;
        max-width: 400px;
        max-height: 250px;
        overflow: hidden;
        align-items: center;
        animation-fill-mode: forwards;
        animation: artimg 5s alternate;
    }

    .articles_img img{
        height: 100%;
    }

    .articles_text{
        width: 100%;
        font-size: 15px;
        display: flex;
        flex-direction: column;
        margin: 15px 0;
        height: 50%;
        align-items: left;
        align-content: center;
    }

    .articles_text div h1{
        font-size: 30px;
        margin-bottom: 5px;
    }

    .articles_link{
        background-color: rgb(44, 63, 240);
        cursor: pointer;
        width: 100%;
        text-align: center;
        border-radius: 5px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .articles_link a{
        color: #FFF;
    }

    .socios .articles_img{
        max-width: 2000px;
    }

    .socios .articles_img img{
        height: auto;
        width: 100%;
    }

    
/* Pie de Pagina */
    footer {
        background-color: yellow;
        padding: 1px;
        grid-area: footer;
        font-family: 'Lato', sans-serif;
        font-family: 'Mouse Memoirs', sans-serif;
        font-family: 'Roboto Mono', monospace;
    }
    .footer__parrafo {
        display: flex;
        justify-content: space-around;
        align-items: center;
        font-weight: bold;
    }

    @media only screen and (max-width: 768px){

        .header__content{
            flex-direction: column;
            text-align: center;
        }

        .header__content h3{
            margin-bottom: 20px;
        }

        .header__content-title{
            font-size: 35px;
        }

        section{
            grid-template-columns: 1fr;
            grid-template-rows: repeat(5, 1fr);
            grid-template-areas: 'artlu'
            'artru'
            'artld'
            'artrd'
            'artc';
        }

        .socios .articles_img{
            max-width: 400px;
        }

        .socios .articles_img img{
            width: auto;
            height: 100%;
        }

    }

    @keyframes artcont {
        0% {
            top: 20px;
        }
        50% {
            background-color: rgba(0, 195, 255, 0.781);
        }
        100% {
            background-color: rgba(97, 147, 212, 0.192);
            top: 260px;
        }       
    }

    @keyframes artimg {
        from {
            transform: translate(0, 0);
        }
        to {
            transform: translate(0.5%);
        }
    }